.thumbnail {
    width: 100%;
    aspect-ratio: 2 / 3; /* Set the aspect ratio to 2:3 */
    position: relative;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

.text-ellipsis {   
    text-overflow: ellipsis;
}
