@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body{
    background-color: #171717;    
    font-family: 'Titillium Web', sans-serif;
    color: #FAF9F6;
    overflow: auto;
}

html {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  
    background: transparent; 
}

h1, h2, h3 {
    font-weight: 300; 
}

p {
    font-weight: 200; 
}

span {
    font-weight: 200; 
}

